<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Technical test - Room playlist history</title>
</head>
<body>
    <h1>Technical test</h1>
    <ul id="playlist">
        <li>Playlist history:
            <ul>
            {% for s in playlist.data %}
                <li>Name: {{ s._song.name }}.</li>
                <li>User who uploaded it: {{ s._user.username }}.</li>
                <li>Votes: {{ s.updubs }} up / {{ s.downdubs }} down.</li>
            {% endfor %}
            </ul>
        </li>
    </ul>
</body>
</html>