<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title>Dubtrack technical test - Room searching</title>
    <link rel="stylesheet" href="../static/css/style.css" media="all" />
</head>
<body>
    <header>
        <h1><a href="/">Dubtrack technical test</a></h1>
    </header>
    <article>
        <h3>Results of your search</h3>
        <ul id="room">
            <li><a href="/playlist/{{ room.data.roomUrl }}">{{ room.data.name }}</a></li>
        </ul>
        <div class="clear"></div>
    </article>
</body>
</html>